[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
pycairo = "*"
pygobject = "*"
keyring = "*"

[dev-packages]
nuitka = "*"

[requires]
python_version = "3.10"
